<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
	© 2021 Copyright: 
    <a href="https://www.linkedin.com/in/aurelien01/">Aurélien Landouer</a>
	<a class="text-reset fw-bold" href="https://github.com/Aurel-GitHub">GitHub</a> | <a class="text-reset fw-bold" href="https://github.com/Aurel-GitHub/test-skilleos">Détails du code</a>
</div>